<!DOCTYPE html>
<html lang="en" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>审核中心页面</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/css/custom.form.css">
    <link rel="stylesheet" href="/js/zTree_v3/css/zTreeStyle/zTreeStyle.css">
    <!--引入我们在https://www.iconfont.cn平台生成的图标样式库-->
    <link rel="stylesheet" href="/layui/css/modules/layui-icon-extend/iconfont.css" media="all">
    <style>
        .ztree li {
            line-height: 27px;
        }

        .ztree li span.button {
            width: 18px;
            height: 26px;
        }

        .ztree li span.button.ico_open {
            margin-top: 5px;
            margin-right: 0px;
        }

        .ztree li span.button.ico_docu {
            margin-top: 5px;
        }

        .ztree li a.curSelectedNode {
            height: 26px;
        }
        .layui-form-label{
            width: 80px;
        }

        /*.layui-input, .layui-textarea{*/
        /*    width: 394px;*/
        /*}*/

        .layui-form-label{
            width: 80px;
        }

        .checkInfoClass{
            font-size: 14px;
            color: #333333;
            margin-left: 30px;
            margin-top: 20px;
            line-height: 25px;
        }
    </style>
</head>
<body>
<div id="searchParam">
    <div class="layui-form-item">
        <div class="layui-input-inline layui-form">
            <select name="checkLastResult" id="checkLastResult" class="select">
                <option value="">请选择审核状态</option>
                <option value="0">审核不通过</option>
                <option value="1">审核中</option>
                <option value="2">审核通过</option>
            </select>
        </div>
        <div class="layui-input-inline layui-form">
            <select id="queryFlwType" name="flwType" class="select">
            </select>
        </div>
        <div class="layui-input-inline layui-form">
            <input type="text" id="flwCode" name="flwCode" class="layui-input" placeholder="请输入申请编号" maxlength="20">
        </div>
        <div class="layui-input-inline">
            <button class="layui-btn" id="search">
                <span class="layui-icon layui-icon-search"></span>查询
            </button>
        </div>
    </div>
</div>

<table class="layui-hide" id="user_table" lay-filter="user_table" lay-skin="line"></table>
<div id="laypage" class="$2('.layui-laypage-btn').click();"></div>

<div id="userInfoDetailDiv" style="display:none;">
    <div id="checkInfo"></div>
</div>

<div class="layui-row operation_user" id="edit-user-info" style="display:none;">
    <form class="layui-form" action="" style="margin-top: 10px;margin-left: 10px;margin-right: 10px;" lay-filter="userEditFilter" id="userEditFilter" autocomplete="off">
        <div class="layui-form-item">
            <div class="layui-inline" id="checkUserIdDiv">
                <div class="layui-form-label">下一审核人</div>
                <div class="layui-input-block">
                    <input type="hidden" id="id" name="id"/>
                    <input type="hidden" id="checkResult" name="checkResult"/>
                    <input type="hidden" id="checkCode" name="checkCode"/>
                    <input type="hidden" id="currentCheckUserId" name="currentCheckUserId"/>
                    <input type="text" id="checkUserName" name="checkUserName" placeholder="请选择下一审核人" class="layui-input" readonly="readonly" style="background:#eeeeee!important">
                    <span style="font-size: 13px;color: #ff0000;letter-spacing: 2px;">注：如不需要扭转给其他人审核，则不用选择"下一审核人"。</span>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <div class="layui-form-label">审核意见</div>
                <div class="layui-input-block">
                    <textarea name="checkOpinion" id="checkOpinion" class="layui-textarea"></textarea>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div style="text-align: center;">
                <button type="submit" class="layui-btn" lay-submit="" lay-filter="edit-user-submit">保存</button>
                <button class="layui-btn layui-btn-primary" id="btn_cancel">返回</button>
            </div>
        </div>
    </form>
</div>

<!--部门人员树型菜单-->
<div id="treeMultiple" class="ztree" style="display: none"></div>

</body>
<script type="text/html" id="tool">
    <a class="layui-btn layui-btn-xs" lay-event="userInfoDetail">审核详情</a>
    <a class="layui-btn layui-btn-xs" lay-event="checkOK" shiro:hasPermission="flw:checkRequest">审核通过</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="checkNO" shiro:hasPermission="flw:checkRequest">审核不通过</a>
</script>
<script src="/layui/layui.all.js"></script>
<script src="/js/core.util.js"></script>
<script type="text/javascript" src="/js/zTree_v3/js/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="/js/zTree_v3/js/jquery.ztree.core.js"></script>
<script type="text/javascript" src="/js/zTree_v3/js/jquery.ztree.excheck.js"></script>
<script>
    let $2 = jQuery = layui.jquery;
    let layer = layui.layer
        , form = layui.form
        , laypage = layui.laypage
        , table = layui.table
        , tree = layui.tree
        , element = layui.element
        , transfer = layui.transfer;

    layui.use(['layer', 'form', 'laypage', 'table', 'element'], function () {
        //搜索条件
        let searchParam = {
            endTime: null,
            flwType: null,
            checkLastResult: null,
            flwCode: null,
            pageNum: 1,
            pageSize: 10
        };

        $2(function () {
            //填充数据字典select下拉框信息
            setSelectData();
        });

        //初始化员工部门Tree
        let initDeptUserTree = function () {
            CoreUtil.sendAjax("/sys/user/deptUserTree", null, function (res) {
                // console.log(res.data);
                $.fn.zTree.init($("#treeMultiple"), zTreeSetting, res.data);
                // 获取树对象
                let treeObj = $.fn.zTree.getZTreeObj("treeMultiple");
                /* 获取所有树节点 */
                let nodes = treeObj.transformToArray(treeObj.getNodes());
                // 展开除第一级之外的其他节点
                for (let i = 0, length_1 = nodes.length; i < length_1; i++) {
                    if (nodes[i].level == 0) {
                        continue;
                    }
                    nodes[i].open = true;
                }
                //展开第一级节点
                treeObj.expandNode(nodes[0], true);
            }, "GET", false);
        };

        //监听部门树型选择框
        $2(".operation_user input[name=checkUserName]").click(function () {
            initDeptUserTree();
            layer.open({
                type: 1,
                offset: '0px',
                skin: 'layui-layer-molv',
                title: "选择用户",
                area: ['60%', '100%'],
                shade: 0,
                shadeClose: false,
                content: jQuery("#treeMultiple"),
                btn: ['确定', '取消'],
                yes: function (index) {
                    let treeObj = $.fn.zTree.getZTreeObj("treeMultiple");
                    let nodes = treeObj.getCheckedNodes(true);//获取选中节点值
                    if(nodes != null){
                        if(nodes.length > 1){
                            layer.msg("只能选择一个用户！");
                        }
                        else if(nodes.length == 1){
                            if(nodes[0].type == 1){
                                // console.log(nodes);
                                $2("#currentCheckUserId").val(nodes[0].id);
                                $2("#checkUserName").val(nodes[0].name);
                                layer.close(index);
                            }else{
                                layer.msg("请选择用户！");
                            }
                        }
                    }
                }
            });
        });

        let zTreeSetting = {
            view: {
                fontCss: {
                    color: "#203e82"
                }
            },
            callback: {  //点击文字，将节点设置为选中
                onClick: function (e, treeId, treeNode, clickFlag) {
                    let zTree = $.fn.zTree.getZTreeObj("treeMultiple");
                    zTree.checkNode(treeNode, !treeNode.checked, true);
                }
            },
            check: {
                enable: true,
                chkStyle: "radio",
                radioType: "all"
            },
            data: {
                simpleData: {
                    enable: true,
                    idKey: "id", //节点数据中保存唯一标识的属性名称
                    pIdKey: "pid", //节点数据中保存其父节点唯一标识的属性名称
                    rootPId: 0 //根节点id
                }
            }
        };

        //分页获取用户列表接口
        CoreUtil.sendAjax("/flw/check/pageList", JSON.stringify(searchParam), function (res) {
            laypageTable(res.data.totalRows, searchParam.pageNum);
            if (res.data.list != null) {
                loadTable(res.data.list);
            }
        }, "POST", false, function (res) {
            layer.msg(res.msg);
            let noAuthorityData = [];
            loadTable(noAuthorityData);
        });

        //分页条
        let laypageTable = function (count, currentPage) {
            laypage.render({
                elem: 'laypage'
                , count: count
                , limit: searchParam.pageSize
                , layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip']
                , curr: location.hash.replace('#!currentPage=', '') //获取起始页
                , hash: 'currentPage' //自定义hash值
                , limits: [10, 25, 50, 100, 300, 500, 2000]
                , jump: function (obj, first) {
                    if (!first) {
                        searchParam.pageNum = obj.curr;
                        searchParam.pageSize = obj.limit;
                        CoreUtil.sendAjax("/flw/check/pageList", JSON.stringify(searchParam), function (res) {
                            if (res.data.list != null) {
                                loadTable(res.data.list);
                                laypageTable(res.data.totalRows, searchParam.pageNum);
                            }
                        }, "POST", false, function (res) {
                            layer.msg(res.msg);
                            let noAuthorityData = [];
                            loadTable(noAuthorityData);
                        });
                    }
                }
            });
        };

        //渲染table
        let loadTable = function (data) {
            // console.log(data);
            table.render({
                elem: '#user_table'
                , cols: [
                    [
                        {type: 'checkbox', fixed: 'left'},
                        {type: 'xuhao', fixed: 'left', title: '序号', width: 50, type: 'numbers'},
                        {field: 'flwCode', title: '申请编号', width: 160, fixed: 'left'},
                        {field: 'createUserName', title: '申请人', width: 160},
                        {field: 'createTime', title: '申请时间', sort: true, width: 170},
                        {field: 'flwTypeName', title: '申请类型', width: 140},
                        {
                            field: 'checkLastResult', title: '审核结果', width: 100, templet: function (item) {
                                if (item.checkLastResult == '0') {
                                    return '<a class="layui-btn layui-btn-danger layui-btn-xs">审核不通过</a>';
                                }else if (item.checkLastResult == '1') {
                                    return '<a class="layui-btn layui-btn-xs">审核中</a>';
                                }else if (item.checkLastResult == '2') {
                                    return '<a class="layui-btn layui-btn-normal layui-btn-xs">审核通过</a>';
                                }
                            }
                        },
                        {field: 'descStr', title: '申请描述', sort: false, width: 380},
                        {width: 300, toolbar: "#tool", title: '操作', fixed: 'right'}
                    ]
                ]
                , data: data
                , loading: true
                , even: true
                , limit: data.length
            });
        };

        //监听行工具事件
        table.on('tool(user_table)', function (obj) {
            let data = obj.data;
            // console.log(data);
            if(obj.event == 'userInfoDetail'){
                userInfoDetail(data.id);//显示审核详情
            }
            else if(obj.event == 'checkOK'){
                //最终审核结果(0:审核不通过;1:审核中;2:审核通过;)
                if(data.checkLastResult == '1'){
                    //重置表单数据
                    $2("#userEditFilter")[0].reset();
                    form.render();
                    $2("#id").val(data.id);
                    $2("#checkCode").val(data.checkCode);
                    $2("#checkResult").val("2");
                    document.getElementById("checkUserIdDiv").style.display = "";//隐藏人员选择输入框
                    //打开弹框
                    layer.open({
                        //layer提供了5种层类型。可传入的值有：0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
                        type: 1,
                        resize: false, //是否允许拉伸
                        maxmin: false, //最大最小化
                        title: "审核流程",
                        area: ['80%', '90%'],
                        content: $2("#edit-user-info") //引用的弹出层的页面层的方式加载修改界面表单
                    });
                }else{
                    layer.msg('流程已结束，无需再次审核，可查看审核详情', {
                        icon: 7,  //1:对勾;2:叉叉;3:问号;4:一把锁;5:不开心表情;6:开心表情;7:感叹号;
                        time: 5000,  //如果不配置，默认是3秒关闭
                        shade: 0
                    });
                }
            }
            else if(obj.event == 'checkNO'){
                if(data.checkLastResult == '1'){
                    //重置表单数据
                    $2("#userEditFilter")[0].reset();
                    form.render();
                    $2("#id").val(data.id);
                    $2("#checkCode").val(data.checkCode);
                    $2("#checkResult").val("0");
                    document.getElementById("checkUserIdDiv").style.display = "none";//隐藏人员选择输入框
                    layer.open({
                        //layer提供了5种层类型。可传入的值有：0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
                        type: 1,
                        resize: false, //是否允许拉伸
                        maxmin: false, //最大最小化
                        title: "审核流程",
                        area: ['80%', '90%'],
                        content: $2("#edit-user-info") //引用的弹出层的页面层的方式加载修改界面表单
                    });
                }else{
                    layer.msg('流程已结束，无需再次审核，可查看审核详情', {
                        icon: 7,  //1:对勾;2:叉叉;3:问号;4:一把锁;5:不开心表情;6:开心表情;7:感叹号;
                        time: 5000,  //如果不配置，默认是3秒关闭
                        shade: 0
                    });
                }
            }
        });

        //显示审核详情
        let userInfoDetail = function(pkId){
            CoreUtil.sendAjax("/flw/getCheckList/" + pkId, null, function (res) {
                // console.log(res);
                let checkDataInfo = '';
                if(res != null && res.data != null){
                    let checkDataArray = res.data;
                    if(checkDataArray.length > 0){
                        for(let i=0; i<checkDataArray.length; i++){
                            let checkResultStr = '';
                            let checkInfo = checkDataArray[i];
                            checkDataInfo += '<ul class="checkInfoClass">';
                            checkDataInfo += '<li>审核人：' + checkInfo.userRealName + '</li>';
                            //审核结果(0:审核不通过;1:审核中;2:审核通过;)
                            if(checkInfo.checkResult == '0'){
                                checkResultStr = '审核不通过';
                            }else if(checkInfo.checkResult == '1'){
                                checkResultStr = '审核中';
                            }else if(checkInfo.checkResult == '2'){
                                checkResultStr = '审核通过';
                            }
                            checkDataInfo += '<li>审核结果：' + checkResultStr + '</li>';
                            if(checkInfo.checkOpinion == null){
                                checkDataInfo += '<li>审核意见：' + '</li>';
                            }else{
                                checkDataInfo += '<li>审核意见：' + checkInfo.checkOpinion + '</li>';
                            }
                            if(checkInfo.checkTime == null){
                                checkDataInfo += '<li>审核时间：' + '</li>';
                            }else{
                                checkDataInfo += '<li>审核时间：' + checkInfo.checkTime + '</li>';
                            }
                            checkDataInfo += '</ul>';
                        }
                    }
                }
                $2("#checkInfo").html(checkDataInfo);
            }, "GET", false, function (res) {
                // console.log(res);
                layer.msg(res.msg);
            });
            layer.open({
                //layer提供了5种层类型。可传入的值有：0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
                type: 1,
                resize: false, //是否允许拉伸
                maxmin: false, //最大最小化
                title: "审核详情",
                area: ['80%', '90%'],//宽，高
                shadeClose: false, //点击弹层外区域关闭
                content: $2("#userInfoDetailDiv")
            });
        };

        //查询按钮点击事件
        $2("#search").click(function () {
            searchParam.flwType = $2("#queryFlwType").val();
            searchParam.checkLastResult = $2("#checkLastResult").val();
            searchParam.flwCode = $2("#flwCode").val();
            searchParam.pageNum = 1;
            // console.log(searchParam);
            CoreUtil.sendAjax("/flw/check/pageList", JSON.stringify(searchParam), function (res) {
                laypageTable(res.data.totalRows, searchParam.pageNum);
                if (res.data.list != null) {
                    loadTable(res.data.list);
                }
            }, "POST", false, function (res) {
                layer.msg(res.msg);
                let noAuthorityData = [];
                loadTable(noAuthorityData);
            });
        });

        form.on('submit(edit-user-submit)', function (data) {
            // console.log(data);
            let checkParam = {
                id: data.field.id,
                checkResult: data.field.checkResult,//审核结果(审核结果(0:审核不通过;1:审核中;2:审核通过;))
                checkUserId: data.field.currentCheckUserId,//下一审核人ID
                checkOpinion: data.field.checkOpinion,//审核意见
                checkCode: data.field.checkCode//审核意见
            };
            // console.log(checkParam);
            CoreUtil.sendAjax("/flw/checkRequest", JSON.stringify(checkParam), function (res) {
                layer.closeAll(); //疯狂模式，关闭所有层
                layer.msg(res.msg, {
                    icon: 1,  //1:对勾;2:叉叉;3:问号;4:一把锁;5:不开心表情;6:开心表情;7:感叹号;
                    time: 3000,  //如果不配置，默认是3秒关闭
                    shade: 0
                });
                $2(".layui-laypage-btn").click();
            }, "POST", false, function (res) {
                layer.msg(res.msg, {
                    icon: 2,  //1:对勾;2:叉叉;3:问号;4:一把锁;5:不开心表情;6:开心表情;7:感叹号;
                    shade: 0
                });
            });
            return false;
        });

        //填充数据字典select下拉框信息
        let setSelectData = function () {
            CoreUtil.sendAjax("/sys/dic/getSelectDicByTypeCode", null, function (res) {
                if(res != null && res.data != null && res.data.length > 0){
                    $2.each(res.data, function(index, item){
                        if('FLW_TYPE' == item.typeCode){
                            $2("#queryFlwType").append(new Option("请选择申请类型", ""));
                            if(item.dicInfo != null && item.dicInfo.length > 0){
                                $2.each(item.dicInfo, function(index2, item2){
                                    // console.log(item2.dicCode + "=" + item2.dicValue);
                                    //往下拉菜单里添加元素
                                    $2('#queryFlwType').append(new Option(item2.dicValue, item2.dicCode));
                                });
                            }else{
                                $2("#queryFlwType").append(new Option("暂无数据", ""));
                            }
                        }
                    });
                    form.render("select");//菜单渲染 把内容加载进去
                }else{
                    layer.msg("数据字典信息无数据");
                }
            }, "GET", false, function (res) {
                layer.msg(res.msg);
            });
        };
    });
</script>
</html>