<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.colin.mapper.SysConfigMapper">

  <resultMap id="BaseResultMap" type="org.colin.model.ro.SysConfig">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="sys_key" jdbcType="VARCHAR" property="sysKey" />
    <result column="sys_value" jdbcType="VARCHAR" property="sysValue" />
    <result column="sys_desc" jdbcType="VARCHAR" property="sysDesc" />
    <result column="update_user_id" jdbcType="VARCHAR" property="updateUserId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, sys_key, sys_value, sys_desc, update_user_id, update_time
  </sql>

  <!--查询指定系统参数详情-->
  <select id="selectById" parameterType="java.lang.String" resultType="org.colin.model.vo.resp.SysConfigRespVO">
    select
      t1.id, t1.sys_key, t1.sys_value, t1.sys_desc, t1.update_user_id, t1.update_time, t2.real_name as updateUserName
    from sys_config t1
    left join sys_user t2 on t1.update_user_id = t2.id
    where t1.id = #{id}
  </select>

  <!--查询所有系统参数配置-->
  <select id="selectAllConfig" parameterType="org.colin.model.vo.req.SysConfigReqVO" resultType="org.colin.model.vo.resp.SysConfigRespVO">
    select
      t1.id, t1.sys_key, t1.sys_value, t1.sys_desc, t1.update_user_id, t1.update_time, t2.real_name as updateUserName
    from sys_config t1
    left join sys_user t2 on t1.update_user_id = t2.id
    <where>
      <if test="sysKey != null and sysKey != '' ">
        AND t1.sys_key LIKE concat('%',#{sysKey},'%')
      </if>
      <if test="sysDesc != null and sysDesc != '' ">
        AND t1.sys_desc LIKE concat('%',#{sysDesc},'%')
      </if>
    </where>
    order by t1.update_time desc
  </select>

  <!--根据key查询指定系统参数信息-->
  <select id="queryByKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sys_config
    where sys_key = #{sysKey}
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sys_config
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from sys_config
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="org.colin.model.ro.SysConfig">
    insert into sys_config (id, sys_key, sys_value,
      sys_desc, update_user_id, update_time
      )
    values (#{id,jdbcType=VARCHAR}, #{sysKey,jdbcType=VARCHAR}, #{sysValue,jdbcType=VARCHAR},
      #{sysDesc,jdbcType=VARCHAR}, #{updateUserId,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.colin.model.ro.SysConfig">
    insert into sys_config
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="sysKey != null">
        sys_key,
      </if>
      <if test="sysValue != null">
        sys_value,
      </if>
      <if test="sysDesc != null">
        sys_desc,
      </if>
      <if test="updateUserId != null">
        update_user_id,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="sysKey != null">
        #{sysKey,jdbcType=VARCHAR},
      </if>
      <if test="sysValue != null">
        #{sysValue,jdbcType=VARCHAR},
      </if>
      <if test="sysDesc != null">
        #{sysDesc,jdbcType=VARCHAR},
      </if>
      <if test="updateUserId != null">
        #{updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.colin.model.ro.SysConfig">
    update sys_config
    <set>
      <if test="sysKey != null">
        sys_key = #{sysKey,jdbcType=VARCHAR},
      </if>
      <if test="sysValue != null">
        sys_value = #{sysValue,jdbcType=VARCHAR},
      </if>
      <if test="sysDesc != null">
        sys_desc = #{sysDesc,jdbcType=VARCHAR},
      </if>
      <if test="updateUserId != null">
        update_user_id = #{updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.colin.model.ro.SysConfig">
    update sys_config
    set sys_key = #{sysKey,jdbcType=VARCHAR},
      sys_value = #{sysValue,jdbcType=VARCHAR},
      sys_desc = #{sysDesc,jdbcType=VARCHAR},
      update_user_id = #{updateUserId,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>